#######################################################
### Database                                        ###
#######################################################
dj-database-url
django-phonenumber-field==1.1.0

#######################################################
### Production                                      ###
#######################################################
uWSGI==2.0.14
