{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% blocktrans %}Participant information {% endblocktrans %}</h2>
    <p>{% blocktrans %}First name: {{ participant.first_name }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Last name: {{ participant.last_name }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Date of birth: {{ participant.date_of_birth }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Wheelchair bound: {{ participant.wheelchair_bound }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Photos allowed?: {{ participant.photo_choice }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Dietary restrictions: {{ participant.food_preferences }}{% endblocktrans %}</p>
    <p>{% blocktrans %}Participates in: {{ participant.sport }}{% endblocktrans %}</p>

    <a href="{% url 'participant_delete' pk=participant.pk %}">{% blocktrans %}Delete Participant{% endblocktrans %}</a>
{% endblock %}
