{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h2>{% blocktrans %}Participants{% endblocktrans %}</h2>
        <table class="base-table">
            <thead>
                <tr>
                    <th>
                        {% blocktrans %}Participant Name{% endblocktrans %}
                    </th>
                    <th>
                        {% blocktrans %}Discipline{% endblocktrans %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participant_list %}
                    <tr>
                        <td>
                            <a href="{% url 'participant_detail' pk=participant.pk %}">{{ participant.full_name }}</a>
                        </td>
                        <td>{% for performance in participant.performance_set.all %}
                            <li>{{ performance.discipline }}</li>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="button-add" href="{% url 'participant_add' %}">{% blocktrans %}Add Participant{% endblocktrans %}</a>
    </div>
{% endblock %}
