{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}
    <p>{% blocktrans %} Please enter your email below so we can send you a link to reset your password.{%endblocktrans %}</p>

<form action="" method="post">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
</form>
{% endblock %}
