{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Welcome!' %}{% endblock %}
{% block content %}
    <div class="header-image"></div>
    <div class="container">
        <ul class="menu-navigation">
            <li class="menu-navigation-item">
                <a class="menu-navigation-image" href="http://specialolympicsgroningen.debrugprovinciegroningen.nl/"></a>
            </li>
            <li class="menu-navigation-item">
                {% url 'login' as loginurl %}
                {% blocktrans %}<a class="menu-navigation-link" href="{{ loginurl }}">Login Coaches</a>{% endblocktrans %}
            </li>
            <li class="menu-navigation-item">
                {% blocktrans %}
                    <a class="menu-navigation-link" href="http://specialolympicsgroningen.debrugprovinciegroningen.nl/organisatie-en-contact.html">
                        Contact</a>
                {% endblocktrans %}
            </li>
        </ul>

        <div class="text-box">
            <p class="welcometxt">
                <strong>Welkom!</strong>
                <br>
                Welkom op de inschrijfpagina voor de Special Olympics Regionale Spelen Groningen.
                <br>
                <b>Zaterdag 17 juni 2017</b> hopen we in Groningen 800 sporters met een verstandelijke
                beperking te verwelkomen.
                <br>
                In maar liefst 13 verschillende takken van sport komen de
                sporters in actie. Het wordt net als de voorgaande edities weer een groot feest, daar zijn
                we van overtuigd!
                <br>
                Op deze pagina kun je je sporters en coaches inschrijven.
                <br>
                Heb je vragen? Bel of mail ons
                gerust.
                <br>
                Je kunt contact opnemen met:
                <br>
                Niels van der Weerd
                <br>
                Email: n.vdweerd@debrugprovinciegroningen.nl
                <br>
                Telefoon: 06-46163238
                <br>
                Namens De Brug provincie Groningen, graag tot ziens op 17 juni!
            </p>
        </div>
    </div>
    {% block footer %}
        <div class="footer">
            <a class="button-admin" href="{% url 'admin:index' %}">{% blocktrans %}Admin{% endblocktrans %}</a>
        </div>
    {% endblock %}
{% endblock %}
