{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% blocktrans %}Welcome!{% endblocktrans %}</h2>
        {% url 'user_update' as the_url %}
        <p>{% blocktrans %}If you want to update your private details, please click
            <a href ="{{ the_url }}">here</a>. {% endblocktrans %}</p>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        </ul>
{% endblock %}
