{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h2>{% blocktrans %}Welcome!{% endblocktrans %}</h2>
        {% url 'participants' as participanturl %}
        <p>{% blocktrans %}If you want to go to your registered participants, or add a participant, click
            <a href="{{ participanturl }}">here</a>.{% endblocktrans %}</p>
        <br>
        {% url 'teams' as teamurl %}
        <p>{% blocktrans %}For an overview of your registerd teams, or to create a team, click
            <a href="{{ teamurl }}">here</a>.{% endblocktrans %}</p>
        <br>
        {% url 'user_update' as the_url %}
        <p>{% blocktrans %}If you want to update your private details, please click
            <a href ="{{ the_url }}">here</a>. {% endblocktrans %}</p>
        <br>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
        </ul>
{% endblock %}
